body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: pink;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    color: red;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .yesButton {
    font-size: 1.5em;
    padding: 15px 30px;
    background-color: #50C878;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .noButton {
    font-size: 1.5em;
    padding: 15px 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }